main {
  background-color: #f4f4f4;
  color: #1e1e1e;
  padding: 10px 60px;
  z-index: -2;
}

main h1 {
  font-weight: 400;
  font-size: 83px;
  line-height: 83px;
}

main h2 {
  font-size: 60px;
  font-weight: 400;
}

main h3 {
  font-size: 24px;
  font-style: italic;
}

p {
  font-size: 24px;
}

.p-destacado{
    padding-top: 20px;
    font-size: 24px;
  font-style: italic;
  color: #2DD899;
  text-transform: uppercase;
}

.divider-left {
  display: block;
  height: 3px;
  width: 10%;
  background-color: #2dd899;
  margin-top: 20px;
  margin-left: -20px;
  margin-bottom: 10px;
}

.divider-right {
  display: block;
  height: 3px;
  width: 10%;
  background-color: #2dd899;
  margin-top: 20px;
  margin-left: auto;
  margin-right: -20px;
  margin-bottom: 10px;
}

.divider-text {
  display: block;
  height: 3px;
  width: 5%;
  background-color: #2dd899;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divider-text-right {
  display: block;
  height: 3px;
  width: 5%;
  background-color: #2dd899;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 0px;
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}